############################
# npm
############################
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~


############################
# API
############################
API/node_modules
API/STORAGE/temp
API/STORAGE/videos

############################
# CLIENT
############################
Client/node_modules
Client/bower_components