#show {
	dialog__content {
		span {
			position: relative;
		 	display: block;
		  	width: 100%;
		  	overflow: hidden;
		  	height: 50px;
		}
	}
	
	.nav-pills {
		 li {
			padding:10px;
			text-align: left;
			font-size: 19px;
			.badge {
				  background-color: #8B8B8B;
				  font-size: 14px;
			}
		 }
	}
	
	.description {
		background-color: #1d2a36;
		margin-bottom: 9px;
	}
	.panel {
		text-align: center;
		.panel-heading {
			font-size: 18px;
		}
		.panel-body {
			  text-align: center;
			.fa {
				width: 20%;
			}
		}
	}
	
	.grid figure img {  
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 70%;
		opacity: 0.8;
		margin: 0 auto;
		left: 12px;
	}
	
	.grid figure {
		position: relative;
		overflow: hidden;
		margin: 10px 1%;
		min-width: 100px;
		max-width: 270px;
		max-height: 100%;
		width: 100%;
		height: auto;
		text-align: center;
		cursor: pointer;
	}
	
	figure.effect-hera figcaption::before {
	  left: 55%;
	  width: 100px;
	  height: 100px;
	}
	.fa-play-circle-o {
	  font-size: 90px;
	  position: relative;
	  left: 17px;
	}
}

#update {


}

#upload{

	.drop-box {
		border: dotted 3px;
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
		width: 210px;
	}

	.drop-box.dragover {
		border: 5px dashed blue;
	}

	.tags {
		display: inline-block!important;
		margin: 5px;
		cursor: pointer;
	}

}

#video_user {
	.fa-play-circle-o {
		font-size: 140px;
	  	right: 12px;
	  	position: relative;
	}
	.grid figure {
		min-width: 100%!important;
		max-height: 300px!important;
	}
	h4 {
		  min-height: 57px;
	}
	
	aside {
		  height: 255px;
	}
	
	.description {
		 height: 82px!important;
	}
	
	.progress {
		  position: absolute;
		  width: 100%;
		  z-index: 999;
		  padding-left: 0px;
		  margin: 0;
		@include mq(tablet) {
			  width: 300px;
		}
	}
}



#video_search {
	.grid figure {
		min-width: 100%!important;
		max-height: 300px!important;
	}
	h4 {
		  min-height: 57px;
	}
	
	aside {
		  height: 255px;
	}
	
	.description {
		 height: 82px!important;
	}
}

