<section id="profile">
	<article>
		<div class="row">
			<div class="two columns image circle">
				<img src="img/img_silence_demo.jpg">
			</div>
			<section class="tabs">

				<ul class="tab-nav">
					<li><a href="#">First Tab</a></li>
					<li class="active"> <a href="#">Second Tab</a></li>
					<li><a href="#">Third Tab</a></li>
				</ul>

				<div class="tab-content">
					<p>Here's the first piece of content</p>
				</div>
				<div class="tab-content active">
					<p>My tab is active so I'll show up first! Inb4 tab 3!</p>
				</div>
				<div class="tab-content">
					<p>Don't forget about me! I'm tab 3!</p>
				</div>

			</section>
		</div>
	</article>
</section>