<div class="row" id="show">
    <div class="page-header">
        <h1 class="container">{{video.name}}</h1>
    </div>
    <div class="col-md-8">
        <h4><a ng-href="#/video/users/{{user._id}}">{{user.firstname}} {{user.lastname}}</a></h4>
        <iframe ng-src="{{trustSrc(video.url)}}" frameborder="0" width="740" height="460" scrolling="no"></iframe>

        <div ng-if="!video.ready">
            <div class="image" style="background: url('{{video.image}}');"></div>
        </div>
        <div class="well well-lg">
            <button type="button" ng-if="video.rights != 'private'" class="btn btn-warning pull-right" data-dialog="share" ng-dialog>Share link</button>
            <ul  class="nav nav-pills"><li>Post: <span class="badge">{{video.created}}</span></li></ul>
            <ul  class="nav nav-pills">
                <li>Size : <span class="badge">{{video.size}}</span></li>
                <li>Right: <span class="badge">{{video.rights}}</span></li>
                <li>View: <span class="badge">{{video.views}}</span></li>
            </ul>
            <div class="col-md-12 well description">
                <h4>Description :</h4>
                <p>
                    {{video.description}}
                </p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <a href="https://www.facebook.com/dialog/share?app_id=1647756815458866&display=popup&href={{video.link}}&redirect_uri={{video.link}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/intent/tweet?text={{video.social.twitter}}&hashtags={{video.name}}&url={{video.link}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-pinterest fa-2x"></i></a>
                    <a href=""><i class="fa fa-google-plus fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <section class="well">
            <h2>Related</h2>
            <aside class="row" ng-repeat="relatedVideo in relatedVideos">
                <div class="grid3d horizontal">
                <div class="grid-wrap">
                    <div class="grid">
                        <figure class="effect-hera" go-click="/video/show/{{relatedVideo._id}}/">
                            <img ng-src="{{relatedVideo.image}}" />
                            <figcaption>
                                <h2>
                                    <span>{{relatedVideo.name | limit:25}}</span>
                                </h2>
                                <p>
                                    <a href="#/video/show/{{relatedVideo._id}}/">
                                        <i class="fa fa-play-circle-o"></i>
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            </aside>
        </section>
    </div>
</div>
<!-- dialog -->
<div id="share" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <h2>
            <strong>Use link</strong> :
        </h2>
        <div class="col-md-12">
        <input style="width: 100%;margin: 20px" class="input-lg" ng-value="video.link"></input>
            </div>
        <div>
            <button class="btn btn-default btn-danger action" data-dialog-close>Close</button>
        </div>
    </div>
</div>
<!-- /dialog -->