<div id="video_user">
    <section class="grid3d horizontal" id="grid3d">
        <div class="grid-wrap">
            <div class="grid">
                <table>
                    <thead>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="video in videos">
                            <td>
                                <figure class="effect-hera" >
                                    <img ng-src="{{video.image}}" />
                                    <figcaption>
                                        <h2><span>{{video.name}} </span></h2>
                                        <p>
                                            <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i></a>
                                        </p>
                                    </figcaption>           
                                </figure>
                            </td>
                            <td style="width: 550px">
                                {{video.description}}
                                </br>
                                Created : {{video.created}}
                                </br>
                                Rights : {{video.rights}}
                                </br>
                                Size : {{video.size}}
                                </br>
                                Views : {{video.views}}
                            </td>
                            <td>
                                <button go-click="/video/update/{{video._id}}" style="background: #4EA8C9; margin-bottom: 10px" type="button">Edit</button>
                                <button type="button">Delete</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div><!-- /grid-wrap -->

    </section>
</div>